body{
    margin: 0;
}


.productos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-carousel{
    width: 500px;
  
}
.carousel-cell {
    width: 100%; /* full width */
    height: 200px; /* height of carousel */
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    display: grid;
    flex-wrap: wrap;
  }

  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }