body{
    background-image: url(/styles/assets/web/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.producto{
    padding-left: 45%;
}
