.productos{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}

.main-carousel{
  width: 800px;

}
.carousel-cell {
  width: 100%; /* full width */
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  display: grid;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;

}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button {
  background: transparent;
}