body{

    background-image: url(/styles/assets/web/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
 

}

.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2.5rem;
    margin-top: 50px;
    background:rgba(128, 128, 128, 0.4);;
    -webkit-box-shadow: -7px 15px 15px 5px #000000;
    box-shadow: -7px 15px 15px 5px #000000;  backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    width: 450px;
    font-size: 15px;
    margin-left: 700px;
}

.imagen{
    border-radius: 50px;
    opacity: 0.5;
    transition: 0.5s;
}

.imagen:hover{
    opacity: 1;
}