body{

    background-image: url(/styles/assets/web/usr_perfil.jpg);
    background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 

}

.carousel-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2.5rem;
    margin-top: 50px;
    background:rgba(143, 143, 143, 0.1);;
    -webkit-box-shadow: -7px 15px 15px 5px #000000;
    box-shadow: -7px 15px 15px 5px #383838;  backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    width: 450px;
    font-size: 20px;
    margin-left: 700px;
}

