body{
    background-color: #55efc4;
    background-image: linear-gradient(150deg, #55efc4 0%, #003624 74%);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.registro{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
}



